
<div class="row justify-content-center">
        <div class="jumbotron w-100 d-flex">

                <h1 class="display-3 mx-auto">Hello Diana</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="jumbotron d-flex" onmouseout="mOut(this)" onmouseover="mOver(this)">

                <a href="/" class="admin-links display-4 mx-auto">Manage Orders</a>
            </div>
        </div>
        <div class="col-auto">
            <div class="jumbotron d-flex" onmouseout="mOut(this)" onmouseover="mOver(this)">

                <a href="/admin/manage-products" class="admin-links display-4 mx-auto">Manage Products</a>
            </div>
        </div>
    </div>

<script type="text/javascript" src="..\javascripts\admin-scripts.js"></script>