<div class="row justify-content-center">
    {{# each products}}
        <div class="col-auto">
            <div class="card border-primary mb-3 " style="width: 22rem">
                <img src= "{{this.imagePath}}"
                     class="card-img-top image-responsive" alt="...">

                <div class="card-body">
                    <h5 class="card-title mx-auto">{{this.title}}</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="badge badge-warning">Price: ${{this.price}}</span>
                        <!--<button class="btn btn-success"  type="button" style="width: 100px">Buy</button>-->
                    </div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis debitis
                        eligendi, et excepturi in incidunt ipsam natus nobis
                        nulla perspiciatis quia rem repudiandae temporibus tenetur unde veniam voluptates! Atque,
                        debitis!
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <!--<span class="badge badge-warning"> Price: $0.99</span>-->
                        <button class="btn btn-success btn-block" type="button" style="width: content-box">Buy</button>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}

</div>
